/*
.guide-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.card-text{
    font-size: 1.35rem;
    margin: 2% 10%;
    color: #f9f9f9;
    /* color: turquoise; 
}

.card-head{
    color: #f9f9f9;
     color: aqua; 
}

.card{
    background-color: #768350;
}

.info-head{
    color: #35452B;
    font-size: 3rem;
}
*/